.announcements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 70vw;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--accentTwo);
}

.title {
  padding-right: 1rem;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: var(--accentOne);
  margin: 0;
}

.new-announcement-btn {
  background-color: var(--accentOne);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
  min-width: 100px;
  max-width: 200px;
  white-space: nowrap;
}

.announcement-list {
  width: 100%;
  list-style: none;
  padding: 0 3rem;
  margin: 0;
  color: white;
}

.announcement-item {
  background-color: var(--secondary);
  margin-top: 2rem;
  padding: 2rem 3rem;
  border-radius: 8px;
}

.announcement-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.announcement-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.announcement-date {
  font-size: 1rem;
}

.announcement-message {
  margin-top: 1rem;
  font-size: 1.25rem;
}

/* Media queries for tablet screens */
@media (max-width: 768px) {
  .header {
    margin: 1rem 0;
    padding-bottom: 1rem;
  }

  .title h1 {
    font-size: 2rem;
  }

  .new-announcement-btn {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    min-width: 90px;
  }
  .announcement-header h2 {
    font-size: 1.25rem;
  }

  .announcement-date {
    font-size: 0.875rem;
  }

  .announcement-message {
    font-size: 1rem;
  }
}

/* Media queries for mobile screens */
@media (max-width: 480px) {
  .announcements-container {
    padding: 1rem;
  }

  .header,
  .announcement-list {
    padding: 1rem 1rem;
  }

  .new-announcement-btn {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    min-width: 80px;
  }

  .announcement-item {
    padding: 1rem 1.5rem;
  }

  .announcement-header h2,
  .announcement-message {
    font-size: 1rem;
  }
}
