<!-- login.component.html -->
<div class="login-container">
  <h1>COOK SYSTEMS</h1>
  <h2>A FINAL APP</h2>
  <div class="login-box">
    
    <div class="svg-container">
      <img src="assets/logo.svg" class="inner-svg" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     
      <div class="form-group">
        <input
          type="email"
          id="username"
          formControlName="username"
          placeholder="Email"
          required 
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Password"
          required
        />
      </div>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <button type="submit" [disabled]="!loginForm.valid">LOGIN</button>
    </form>
  </div>
</div>
